<html>
  <head>
    <title>Anonymous's Netflix: Login</title>
    <script async src="/cookie.js"></script>
  </head>
  <body bgcolor="white">
    <h1>Anonymous's Netflix: Login</h1>
    <form method="post" id="loginForm" action="/login">
      <div>
        <label for="accessKey">Access Key</label>
        <input type="text" id="accessKey" name="accessKey">
      </div>
      <button type="submit">접속</button>
    </form>
  </body>
</html>